.decision-container {
  background-color: white;
  margin: auto;
  width: 800px;
  border: 1px solid #ebebeb;
}

.hr-decisions {
  border-bottom: 1px solid #ebebeb;
}

.decision-title {
  font-size: 25px;
  padding-top: 30px;
  padding-bottom: 15px;
  font-weight: 700;
  text-align: center;
  color: #505050;
}

.decision-code {
  font-size: 16px;
  padding-bottom: 5px;
  text-align: left;
  padding-left: 10px;
  display: flex;
  justify-content: left;
  color: #505050;
}

.code-title {
  padding-right: 5px;
  font-weight: 400;
  padding-top: 1px;
}

.code-text {
  font-size: 16px;
  font-weight: 500;
  color: orange;
}

/* tabs */
.decision-tabs-container {
  width: 600px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  padding-bottom: 10px;
}

.decision-button {
  font-size: 14px;
}

.active-tab {
  background-color: #6772e5;
}

.inactive-tab {
  background-color: #9999ff;
}

button:disabled {
  pointer-events: none;
  background-color: #f7f7f7;
}

/* answers */

.post-container {
  width: 800px;
  margin: auto;
}

.answers-container {
  width: 750px;
  height: 400px;
  margin: auto;
  padding: 20px;
}

.no-answer {
  font-size: 18px;
  text-align: center;
  padding-top: 10px;
}

.answer-container {
  border: 1px solid #ebebeb;
  width: 750px;
  margin: auto;
  height: 50px;
  margin-bottom: 10px;
}

.answer-text {
  text-align: left;
  padding-left: 10px;
  padding-top: 14px;
  width: 710px;
  margin: auto;
}

/* form */

.answer-form-container {
  padding: 15px;
}

/* reveal */
.reveal-title {
  font-size: 25px;
  padding-bottom: 10px;
}
