.landing {
  margin: auto;
  font-family: Camphor, Open Sans, Segoe UI, sans-serif;
}

/* navigation */

.Nav {
  margin: auto;
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  margin-bottom: 30px;
  width: 1000px;
}

.logo {
  padding-top: 5px;
  padding-top: 27px;
  padding-bottom: 7px;
  display: flex;
  justify-content: center;
  font-size: 20px;
}

.design {
  color: #ffa500;
  font-weight: bold;
}

.jam {
  color: #505050;
}

.button {
  text-decoration: none;
  padding: 5px 15px 5px 15px;
}

.sign-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 12px;
  margin-top: 20px;
}

.signin {
  width: 60px;
  color: #505050;
  margin-top: 4px;
}

.signup {
  background-color: #ffa500;
  color: white;
  padding: 7px 18px 7px 18px;
  border-radius: 6px;
}

/* image */

.image-container {
  background-color: #eef7fa;
  height: 600px;
  display: flex;
  justify-content: center;
  align-content: center;
}

.image {
  margin: auto;
  margin-top: 140px;
  margin-bottom: 40px;
  height: 320px;
}

.slogan {
  font-size: 40px;
  line-height: 30px;
  margin-bottom: 30px;
  letter-spacing: 2px;
  margin-top: 180px;
  text-align: left;
}

.description-container {
  width: 470px;
}

.description {
  color: #505050;
  font-size: 17px;
  line-height: 30px;
  width: 440px;
  text-align: left;
  padding-bottom: 40px;
}

.buy-container {
  background-color: #ffa500;
  width: 200px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  box-shadow: 4px 4px 20px 0.5px #dcdcdc;
}

.buy {
  color: white;
  text-decoration: none;
  font-size: 16px;
  letter-spacing: 1px;
  padding: 14px 58px 14px 58px;
}

/* Pricing */

.pricing-container {
  padding-top: 80px;
  padding-bottom: 100px;
}

.pricing-title {
  font-size: 40px;
  padding-bottom: 40px;
}

.pricing-options {
  display: flex;
  justify-content: space-around;
  margin: auto;
  width: 900px;
}

.options {
  width: 250px;
  height: 380px;
  border-radius: 12px;
  /* background-color: #F0F0F0; */
  border-style: solid;
  border-width: 0.5px;
  display: inline-block;
}

h1 {
  font-size: 25px;
  margin-top: 40px;
  font-weight: 800;
}

h3 {
  font-size: 80px;
  color: orange;
  margin-top: 40px;
  margin-bottom: 5px;
}

p {
  font-size: 30px;
  margin-bottom: 40px;
}

.pricing-buy {
  margin: auto;
}

.footer {
  background-color: #eef7fa;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding: 10px;
}
